{% extends 'base.twig' %}
{% block body %}

    <nav class="itemNavigation">
        <ul>
            {% if prev is not empty %}
                <li><a href="?site={{ site }}&date={{ prev|date('Y-m-d') }}">&lt;&lt; {{ prev|date('Y-m-d') }}</a></li>
            {% endif %}
            <li>{{ date|date('Y-m-d') }}</li>
            {% if next is not empty %}
                <li><a href="?site={{ site }}&date={{ next|date('Y-m-d') }}">{{ next|date('Y-m-d') }} &gt;&gt;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if sites|length > 1 %}
        <strong>Velg bibliotek:</strong>
        {% for site_iter in sites %}
            {% if site!=site_iter %}
                <a href="?site={{ site_iter }}&date={{ date|date('Y-m-d') }}">{{ site_iter }}</a>&nbsp;
            {% else %}
                {{ site }}&nbsp;
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if lines %}
        <table>
            <tr>
                <th>Id</th>
                <th>Tid</th>
                <th>Gate</th>
                <th>Tittel</th>
            </tr>
            {% for line in lines %}
                <tr>
                    <td>{{ line.Id }}</td>
                    <td>{{ line.DateTime|parseDate|date('d.m.Y H:i') }}</td>
                    <td>{{ line.GateNo|gateName }}</td>
                    <td>{{ line.Title }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Ingen logg funnet for {{ date|date('d.m.Y') }}</p>
    {% endif %}
{% endblock %}